section{
    columns: 300px;
    column-gap: 10px;
    column-rule: 3px double green;
    background-color: black;
    padding: 0.3vw;
    border-radius: 10px;
    z-index: -1;
    transition: all 1s;
}
img{
    width: 100%;
    height: auto;
    border-radius: 3px;
    transition: all 1s;
    z-index: 10000 !important;
    transition: all 1s;
}
